/****************** Normalize ******************/

* {
  outline: none;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

.preload * {
  visibility: hidden !important;
  opacity: 0 !important;
  transition: none !important;
}

html, body {
  padding: 0;
  margin: 0;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  padding-top: 30px;
  animation: body-fadeIn 1s;
}

@keyframes body-fadeIn {
  from { opacity: 0; }
  to {  opacity: 1; }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  color: #343e5c;
}

a:active,
a:hover {
  outline: 0;
}

p {
  margin: 0;
}

i {
  display: inline-block;
}

span {
  display: inline-block;
}

img {
  max-width: 100%;
}

ul {
  margin: 14px;
  padding: 0;
  border: 0;
}

li, ol {
  margin: 2px 17px;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  height: 0;
  box-sizing: content-box;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
  margin: 0;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance:textfield;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select{
  -webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
          appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

iframe,
img{
  max-width: 100%;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.clear {
  clear: both;
}


/****************** Fonts ******************/

body{
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #010119;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

body:lang(ka){
  font-family: "FiraGO-Regular";
}

body *:lang(ka){
  text-transform: none;
}

body *:lang(ar){
  letter-spacing: inherit !important;
}

.upper{
  text-transform: uppercase;
}

.upper:lang(ka){
  text-transform: none;
  /*font-family: "FiraGO-SemiBold";*/
  text-transform: uppercase;
  -webkit-font-feature-settings: 'case';
     -moz-font-feature-settings: 'case';
          font-feature-settings: 'case' on;
}

h1, h2, h3, h4, h5, h6{
  font-weight: normal;
  text-transform: uppercase;
}

h1:lang(ka), h2:lang(ka), h3:lang(ka), h4:lang(ka), h5:lang(ka), h6:lang(ka){
  text-transform: none;
  /*font-family: "FiraGO-SemiBold";*/
  text-transform: uppercase;
  -webkit-font-feature-settings: 'case';
     -moz-font-feature-settings: 'case';
          font-feature-settings: 'case' on;
}

@font-face {
  font-family: "FiraGO-Light";
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/FiraGO-Light.woff);
}

@font-face {
  font-family: "FiraGO-Medium";
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/FiraGO-Medium.woff);
}

@font-face {
  font-family: "FiraGO-Regular";
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/FiraGO-Regular.woff);
}

@font-face {
  font-family: "FiraGO-SemiBold";
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/FiraGO-SemiBold.woff);
}

/*@font-face {
  font-family: "DejaVuSans";
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/DejaVuSans.woff);
}

@font-face {
  font-family: "DejaVuSans-Bold";
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/DejaVuSans-Bold.woff);
}

@font-face {
  font-family: "DejaVu-Sans-Bold-M";
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/DejaVu-Sans-Bold-M.woff);
}

@font-face {
  font-family: "DejaVuSans-BoldOblique";
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/DejaVuSans-BoldOblique.woff);
}

@font-face {
  font-family: "DejaVuSans-Oblique";
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/DejaVuSans-Oblique.woff);
}

@font-face {
  font-family: "DejaVu-Sans-Regular-M";
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/DejaVu-Sans-Regular-M.woff);
}*/


/****************** Grid System ******************/

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1360px;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"]{
  padding-right: 0;
  padding-left: 0;
}

.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto,
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs, .col-xs-auto{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xl-1 { flex: 0 0 8.3333333333%; max-width: 8.3333333333%; }
.col-xl-2 { flex: 0 0 16.6666666667%; max-width: 16.6666666667%; }
.col-xl-3 { flex: 0 0 25%; max-width: 25%; }
.col-xl-4 { flex: 0 0 33.3333333333%; max-width: 33.3333333333%; }
.col-xl-5 { flex: 0 0 41.6666666667%; max-width: 41.6666666667%; }
.col-xl-6 { flex: 0 0 50%; max-width: 50%; }
.col-xl-7 { flex: 0 0 58.3333333333%; max-width: 58.3333333333%; }
.col-xl-8 { flex: 0 0 66.6666666667%; max-width: 66.6666666667%; }
.col-xl-9 { flex: 0 0 75%; max-width: 75%; }
.col-xl-10 { flex: 0 0 83.3333333333%; max-width: 83.3333333333%; }
.col-xl-11 { flex: 0 0 91.6666666667%; max-width: 91.6666666667%; }
.col-xl-12 { flex: 0 0 100%; max-width: 100%; }
.col-xl { flex-basis: 0%; flex-grow: 1; max-width: 100% }
.col-xl-auto { flex: 0 0 auto; width: auto; max-width: none; }

.order-xl-0 { order: 0; }
.order-xl-1 { order: 1; }
.order-xl-2 { order: 2; }
.order-xl-3 { order: 3; }
.order-xl-4 { order: 4; }
.order-xl-5 { order: 5; }
.order-xl-6 { order: 6; }
.order-xl-7 { order: 7; }
.order-xl-8 { order: 8; }
.order-xl-9 { order: 9; }
.order-xl-10 { order: 10; }
.order-xl-11 { order: 11; }
.order-xl-12 { order: 12; }
.order-xl-first { order: -1; }
.order-xl-last { order: 13; }

.offset-xl-0 { margin-left: 0; }
.offset-xl-1 { margin-left: 8.3333333333%; }
.offset-xl-2 { margin-left: 16.6666666667%; }
.offset-xl-3 { margin-left: 25%; }
.offset-xl-4 { margin-left: 33.3333333333%; }
.offset-xl-5 { margin-left: 41.6666666667%; }
.offset-xl-6 { margin-left: 50%; }
.offset-xl-7 { margin-left: 58.3333333333%; }
.offset-xl-8 { margin-left: 66.6666666667%; }
.offset-xl-9 { margin-left: 75%; }
.offset-xl-10 { margin-left: 83.3333333333%; }
.offset-xl-11 { margin-left: 91.6666666667%; }
.offset-xl-12 { margin-left: 100%; }

.xl-block{ display: block !important; }
.xl-iblock{ display: inline-block !important; }
.xl-flex{ display: flex !important; }
.xl-none{ display: none !important; }

.row.col-xl-mb1 > *[class^="col-"] { margin-bottom: 10px; }
.row.col-xl-mb2 > *[class^="col-"] { margin-bottom: 20px; }
.row.col-xl-mb3 > *[class^="col-"] { margin-bottom: 30px; }
.row.col-xl-mb4 > *[class^="col-"] { margin-bottom: 40px; }

.text-xl-left { text-align: left !important; }
.text-xl-right { text-align: right !important; }
.text-xl-center { text-align: center !important; }
.text-xl-justify { text-align: justify !important; }

.align-items-xl-start { align-items: flex-start!important; }
.align-items-xl-end { align-items: flex-end!important; }
.align-items-xl-center { align-items: center!important; }
.align-items-xl-baseline { align-items: baseline!important; }
.align-items-xl-stretch { align-items: stretch!important; }

.justify-content-xl-start { justify-content: flex-start!important; }
.justify-content-xl-end { justify-content: flex-end!important; }
.justify-content-xl-center { justify-content: center!important; }
.justify-content-xl-between { justify-content: space-between!important; }
.justify-content-xl-around { justify-content: space-around!important; }

.row > *[class^="col-"].xl-p-0 { padding-left: 0 !important; padding-right: 0 !important; }
.row > *[class^="col-"].xl-pl-0 { padding-left: 0 !important; }
.row > *[class^="col-"].xl-pr-0 { padding-right: 0 !important; }

.row > *[class^="col-"].xl-p-5 { padding-left: 5px !important; padding-right: 5px !important; }
.row > *[class^="col-"].xl-pl-5 { padding-left: 5px !important; }
.row > *[class^="col-"].xl-pr-5 { padding-right: 5px !important; }

.row > *[class^="col-"].xl-p-10 { padding-left: 10px !important; padding-right: 10px !important; }
.row > *[class^="col-"].xl-pl-10 { padding-left: 10px !important; }
.row > *[class^="col-"].xl-pr-10 { padding-right: 10px !important; }

.row > *[class^="col-"].xl-p-15 { padding-left: 15px !important; padding-right: 15px !important; }
.row > *[class^="col-"].xl-pl-15 { padding-left: 15px !important; }
.row > *[class^="col-"].xl-pr-15 { padding-right: 15px !important; }

.row > *[class^="col-"].xl-p-20 { padding-left: 20px !important; padding-right: 20px !important; }
.row > *[class^="col-"].xl-pl-20 { padding-left: 20px !important; }
.row > *[class^="col-"].xl-pr-20 { padding-right: 20px !important; }

.row > *[class^="col-"].xl-p-25 { padding-left: 25px !important; padding-right: 25px !important; }
.row > *[class^="col-"].xl-pl-25 { padding-left: 25px !important; }
.row > *[class^="col-"].xl-pr-25 { padding-right: 25px !important; }

.row > *[class^="col-"].xl-p-30 { padding-left: 30px !important; padding-right: 30px !important; }
.row > *[class^="col-"].xl-pl-30 { padding-left: 30px !important; }
.row > *[class^="col-"].xl-pr-30 { padding-right: 30px !important; }

.row > *[class^="col-"].xl-p-50 { padding-left: 50px !important; padding-right: 50px !important; }
.row > *[class^="col-"].xl-pl-50 { padding-left: 50px !important; }
.row > *[class^="col-"].xl-pr-50 { padding-right: 50px !important; }

.row.xl-p-0{ margin-right: 0 !important; margin-left: 0 !important; }
.row.xl-p-0 > *[class^="col-"] { padding-left: 0 !important; padding-right: 0 !important; }

.row.xl-p-5{ margin-right: -5px !important; margin-left: -5px !important; }
.row.xl-p-5 > *[class^="col-"] { padding-left: 5px !important; padding-right: 5px !important; }

.row.xl-p-8{ margin-right: -8px !important; margin-left: -8px !important; }
.row.xl-p-8 > *[class^="col-"] { padding-left: 8px !important; padding-right: 8px !important; }

.row.xl-p-10{ margin-right: -10px !important; margin-left: -10px !important; }
.row.xl-p-10 > *[class^="col-"] { padding-left: 10px !important; padding-right: 10px !important; }

.row.xl-p-12{ margin-right: -12px !important; margin-left: -12px !important; }
.row.xl-p-12 > *[class^="col-"] { padding-left: 12px !important; padding-right: 12px !important; }

.row.xl-p-15{ margin-right: -15px !important; margin-left: -15px !important; }
.row.xl-p-15 > *[class^="col-"] { padding-left: 15px !important; padding-right: 15px !important; }

.row.xl-p-20{ margin-right: -20px !important; margin-left: -20px !important; }
.row.xl-p-20 > *[class^="col-"] { padding-left: 20px !important; padding-right: 20px !important; }

.row.xl-p-25{ margin-right: -25px !important; margin-left: -25px !important; }
.row.xl-p-25 > *[class^="col-"] { padding-left: 25px !important; padding-right: 25px !important; }

.row.xl-p-30{ margin-right: -30px !important; margin-left: -30px !important; }
.row.xl-p-30 > *[class^="col-"] { padding-left: 30px !important; padding-right: 30px !important; }

@media (max-width: 1400px) {
  .container { max-width: 1160px; }
}

@media (max-width: 1199px) {
  .container { max-width: 960px; }

  .col-lg-1 { flex: 0 0 8.3333333333%; max-width: 8.3333333333%; }
  .col-lg-2 { flex: 0 0 16.6666666667%; max-width: 16.6666666667%; }
  .col-lg-3 { flex: 0 0 25%; max-width: 25%; }
  .col-lg-4 { flex: 0 0 33.3333333333%; max-width: 33.3333333333%; }
  .col-lg-5 { flex: 0 0 41.6666666667%; max-width: 41.6666666667%; }
  .col-lg-6 { flex: 0 0 50%; max-width: 50%; }
  .col-lg-7 { flex: 0 0 58.3333333333%; max-width: 58.3333333333%; }
  .col-lg-8 { flex: 0 0 66.6666666667%; max-width: 66.6666666667%; }
  .col-lg-9 { flex: 0 0 75%; max-width: 75%; }
  .col-lg-10 { flex: 0 0 83.3333333333%; max-width: 83.3333333333%; }
  .col-lg-11 { flex: 0 0 91.6666666667%; max-width: 91.6666666667%; }
  .col-lg-12 { flex: 0 0 100%; max-width: 100%; }
  .col-lg { flex-basis: 0%; flex-grow: 1; max-width: 100%; }
  .col-lg-auto { flex: 0 0 auto; width: auto; max-width: none; }

  .order-lg-0 { order: 0; }
  .order-lg-1 { order: 1; }
  .order-lg-2 { order: 2; }
  .order-lg-3 { order: 3; }
  .order-lg-4 { order: 4; }
  .order-lg-5 { order: 5; }
  .order-lg-6 { order: 6; }
  .order-lg-7 { order: 7; }
  .order-lg-8 { order: 8; }
  .order-lg-9 { order: 9; }
  .order-lg-10 { order: 10; }
  .order-lg-11 { order: 11; }
  .order-lg-12 { order: 12; }
  .order-lg-first { order: -1; }
  .order-lg-last { order: 13; }

  .offset-lg-0 { margin-left: 0; }
  .offset-lg-1 { margin-left: 8.3333333333%; }
  .offset-lg-2 { margin-left: 16.6666666667%; }
  .offset-lg-3 { margin-left: 25%; }
  .offset-lg-4 { margin-left: 33.3333333333%; }
  .offset-lg-5 { margin-left: 41.6666666667%; }
  .offset-lg-6 { margin-left: 50%; }
  .offset-lg-7 { margin-left: 58.3333333333%; }
  .offset-lg-8 { margin-left: 66.6666666667%; }
  .offset-lg-9 { margin-left: 75%; }
  .offset-lg-10 { margin-left: 83.3333333333%; }
  .offset-lg-11 { margin-left: 91.6666666667%; }
  .offset-lg-12 { margin-left: 100%; }

  .lg-block{ display: block !important; }
  .lg-iblock{ display: inline-block !important; }
  .lg-flex{ display: flex !important; }
  .lg-none{ display: none !important; }

  .row.col-lg-mb1 > *[class^="col-"] { margin-bottom: 10px; }
  .row.col-lg-mb2 > *[class^="col-"] { margin-bottom: 20px; }
  .row.col-lg-mb3 > *[class^="col-"] { margin-bottom: 30px; }
  .row.col-lg-mb4 > *[class^="col-"] { margin-bottom: 40px; }

  .text-lg-left { text-align: left !important; }
  .text-lg-right { text-align: right !important; }
  .text-lg-center { text-align: center !important; }
  .text-lg-justify { text-align: justify !important; }

  .align-items-lg-start { align-items: flex-start!important; }
  .align-items-lg-end { align-items: flex-end!important; }
  .align-items-lg-center { align-items: center!important; }
  .align-items-lg-baseline { align-items: baseline!important; }
  .align-items-lg-stretch { align-items: stretch!important; }

  .justify-content-lg-start { justify-content: flex-start!important; }
  .justify-content-lg-end { justify-content: flex-end!important; }
  .justify-content-lg-center { justify-content: center!important; }
  .justify-content-lg-between { justify-content: space-between!important; }
  .justify-content-lg-around { justify-content: space-around!important; }

  .row > *[class^="col-"].lg-p-0 { padding-left: 0 !important; padding-right: 0 !important; }
  .row > *[class^="col-"].lg-pl-0 { padding-left: 0 !important; }
  .row > *[class^="col-"].lg-pr-0 { padding-right: 0 !important; }

  .row > *[class^="col-"].lg-p-5 { padding-left: 5px !important; padding-right: 5px !important; }
  .row > *[class^="col-"].lg-pl-5 { padding-left: 5px !important; }
  .row > *[class^="col-"].lg-pr-5 { padding-right: 5px !important; }

  .row > *[class^="col-"].lg-p-10 { padding-left: 10px !important; padding-right: 10px !important; }
  .row > *[class^="col-"].lg-pl-10 { padding-left: 10px !important; }
  .row > *[class^="col-"].lg-pr-10 { padding-right: 10px !important; }

  .row > *[class^="col-"].lg-p-15 { padding-left: 15px !important; padding-right: 15px !important; }
  .row > *[class^="col-"].lg-pl-15 { padding-left: 15px !important; }
  .row > *[class^="col-"].lg-pr-15 { padding-right: 15px !important; }

  .row > *[class^="col-"].lg-p-20 { padding-left: 20px !important; padding-right: 20px !important; }
  .row > *[class^="col-"].lg-pl-20 { padding-left: 20px !important; }
  .row > *[class^="col-"].lg-pr-20 { padding-right: 20px !important; }

  .row > *[class^="col-"].lg-p-25 { padding-left: 25px !important; padding-right: 25px !important; }
  .row > *[class^="col-"].lg-pl-25 { padding-left: 25px !important; }
  .row > *[class^="col-"].lg-pr-25 { padding-right: 25px !important; }

  .row > *[class^="col-"].lg-p-30 { padding-left: 30px !important; padding-right: 30px !important; }
  .row > *[class^="col-"].lg-pl-30 { padding-left: 30px !important; }
  .row > *[class^="col-"].lg-pr-30 { padding-right: 30px !important; }

  .row > *[class^="col-"].lg-p-50 { padding-left: 50px !important; padding-right: 50px !important; }
  .row > *[class^="col-"].lg-pl-50 { padding-left: 50px !important; }
  .row > *[class^="col-"].lg-pr-50 { padding-right: 50px !important; }

  .row.lg-p-0{ margin-right: 0 !important; margin-left: 0 !important; }
  .row.lg-p-0 > *[class^="col-"] { padding-left: 0 !important; padding-right: 0 !important; }

  .row.lg-p-5{ margin-right: -5px !important; margin-left: -5px !important; }
  .row.lg-p-5 > *[class^="col-"] { padding-left: 5px !important; padding-right: 5px !important; }

  .row.lg-p-8{ margin-right: -8px !important; margin-left: -8px !important; }
  .row.lg-p-8 > *[class^="col-"] { padding-left: 8px !important; padding-right: 8px !important; }

  .row.lg-p-10{ margin-right: -10px !important; margin-left: -10px !important; }
  .row.lg-p-10 > *[class^="col-"] { padding-left: 10px !important; padding-right: 10px !important; }

  .row.lg-p-12{ margin-right: -12px !important; margin-left: -12px !important; }
  .row.lg-p-12 > *[class^="col-"] { padding-left: 12px !important; padding-right: 12px !important; }

  .row.lg-p-15{ margin-right: -15px !important; margin-left: -15px !important; }
  .row.lg-p-15 > *[class^="col-"] { padding-left: 15px !important; padding-right: 15px !important; }

  .row.lg-p-20{ margin-right: -20px !important; margin-left: -20px !important; }
  .row.lg-p-20 > *[class^="col-"] { padding-left: 20px !important; padding-right: 20px !important; }

  .row.lg-p-25{ margin-right: -25px !important; margin-left: -25px !important; }
  .row.lg-p-25 > *[class^="col-"] { padding-left: 25px !important; padding-right: 25px !important; }

  .row.lg-p-30{ margin-right: -30px !important; margin-left: -30px !important; }
  .row.lg-p-30 > *[class^="col-"] { padding-left: 30px !important; padding-right: 30px !important; }
}

@media (max-width: 1023.98px) {
  .container { max-width: 720px; }

  .col-md-1 { flex: 0 0 8.3333333333%; max-width: 8.3333333333%; }
  .col-md-2 { flex: 0 0 16.6666666667%; max-width: 16.6666666667%; }
  .col-md-3 { flex: 0 0 25%; max-width: 25%; }
  .col-md-4 { flex: 0 0 33.3333333333%; max-width: 33.3333333333%; }
  .col-md-5 { flex: 0 0 41.6666666667%; max-width: 41.6666666667%; }
  .col-md-6 { flex: 0 0 50%; max-width: 50%; }
  .col-md-7 { flex: 0 0 58.3333333333%; max-width: 58.3333333333%; }
  .col-md-8 { flex: 0 0 66.6666666667%; max-width: 66.6666666667%; }
  .col-md-9 { flex: 0 0 75%; max-width: 75%; }
  .col-md-10 { flex: 0 0 83.3333333333%; max-width: 83.3333333333%; }
  .col-md-11 { flex: 0 0 91.6666666667%; max-width: 91.6666666667%; }
  .col-md-12 { flex: 0 0 100%; max-width: 100%; }
  .col-md { flex-basis: 0%; flex-grow: 1; max-width: 100%; }
  .col-md-auto { flex: 0 0 auto; width: auto; max-width: none; }

  .order-md-0 { order: 0; }
  .order-md-1 { order: 1; }
  .order-md-2 { order: 2; }
  .order-md-3 { order: 3; }
  .order-md-4 { order: 4; }
  .order-md-5 { order: 5; }
  .order-md-6 { order: 6; }
  .order-md-7 { order: 7; }
  .order-md-8 { order: 8; }
  .order-md-9 { order: 9; }
  .order-md-10 { order: 10; }
  .order-md-11 { order: 11; }
  .order-md-12 { order: 12; }
  .order-md-first { order: -1; }
  .order-md-last { order: 13; }

  .offset-md-0 { margin-left: 0; }
  .offset-md-1 { margin-left: 8.3333333333%; }
  .offset-md-2 { margin-left: 16.6666666667%; }
  .offset-md-3 { margin-left: 25%; }
  .offset-md-4 { margin-left: 33.3333333333%; }
  .offset-md-5 { margin-left: 41.6666666667%; }
  .offset-md-6 { margin-left: 50%; }
  .offset-md-7 { margin-left: 58.3333333333%; }
  .offset-md-8 { margin-left: 66.6666666667%; }
  .offset-md-9 { margin-left: 75%; }
  .offset-md-10 { margin-left: 83.3333333333%; }
  .offset-md-11 { margin-left: 91.6666666667%; }
  .offset-md-12 { margin-left: 100%; }

  .md-block{ display: block !important; }
  .md-iblock{ display: inline-block !important; }
  .md-flex{ display: flex !important; }
  .md-none{ display: none !important; }

  .row.col-md-mb1 > *[class^="col-"] { margin-bottom: 10px; }
  .row.col-md-mb2 > *[class^="col-"] { margin-bottom: 20px; }
  .row.col-md-mb3 > *[class^="col-"] { margin-bottom: 30px; }
  .row.col-md-mb4 > *[class^="col-"] { margin-bottom: 40px; }

  .text-md-left { text-align: left !important; }
  .text-md-right { text-align: right !important; }
  .text-md-center { text-align: center !important; }
  .text-md-justify { text-align: justify !important; }

  .align-items-md-start { align-items: flex-start!important; }
  .align-items-md-end { align-items: flex-end!important; }
  .align-items-md-center { align-items: center!important; }
  .align-items-md-baseline { align-items: baseline!important; }
  .align-items-md-stretch { align-items: stretch!important; }

  .justify-content-md-start { justify-content: flex-start!important; }
  .justify-content-md-end { justify-content: flex-end!important; }
  .justify-content-md-center { justify-content: center!important; }
  .justify-content-md-between { justify-content: space-between!important; }
  .justify-content-md-around { justify-content: space-around!important; }

  .row > *[class^="col-"].md-p-0 { padding-left: 0 !important; padding-right: 0 !important; }
  .row > *[class^="col-"].md-pl-0 { padding-left: 0 !important; }
  .row > *[class^="col-"].md-pr-0 { padding-right: 0 !important; }

  .row > *[class^="col-"].md-p-5 { padding-left: 5px !important; padding-right: 5px !important; }
  .row > *[class^="col-"].md-pl-5 { padding-left: 5px !important; }
  .row > *[class^="col-"].md-pr-5 { padding-right: 5px !important; }

  .row > *[class^="col-"].md-p-10 { padding-left: 10px !important; padding-right: 10px !important; }
  .row > *[class^="col-"].md-pl-10 { padding-left: 10px !important; }
  .row > *[class^="col-"].md-pr-10 { padding-right: 10px !important; }

  .row > *[class^="col-"].md-p-15 { padding-left: 15px !important; padding-right: 15px !important; }
  .row > *[class^="col-"].md-pl-15 { padding-left: 15px !important; }
  .row > *[class^="col-"].md-pr-15 { padding-right: 15px !important; }

  .row > *[class^="col-"].md-p-20 { padding-left: 20px !important; padding-right: 20px !important; }
  .row > *[class^="col-"].md-pl-20 { padding-left: 20px !important; }
  .row > *[class^="col-"].md-pr-20 { padding-right: 20px !important; }

  .row > *[class^="col-"].md-p-25 { padding-left: 25px !important; padding-right: 25px !important; }
  .row > *[class^="col-"].md-pl-25 { padding-left: 25px !important; }
  .row > *[class^="col-"].md-pr-25 { padding-right: 25px !important; }

  .row > *[class^="col-"].md-p-30 { padding-left: 30px !important; padding-right: 30px !important; }
  .row > *[class^="col-"].md-pl-30 { padding-left: 30px !important; }
  .row > *[class^="col-"].md-pr-30 { padding-right: 30px !important; }

  .row > *[class^="col-"].md-p-50 { padding-left: 50px !important; padding-right: 50px !important; }
  .row > *[class^="col-"].md-pl-50 { padding-left: 50px !important; }
  .row > *[class^="col-"].md-pr-50 { padding-right: 50px !important; }

  .row.md-p-0{ margin-right: 0 !important; margin-left: 0 !important; }
  .row.md-p-0 > *[class^="col-"] { padding-left: 0 !important; padding-right: 0 !important; }

  .row.md-p-5{ margin-right: -5px !important; margin-left: -5px !important; }
  .row.md-p-5 > *[class^="col-"] { padding-left: 5px !important; padding-right: 5px !important; }

  .row.md-p-8{ margin-right: -8px !important; margin-left: -8px !important; }
  .row.md-p-8 > *[class^="col-"] { padding-left: 8px !important; padding-right: 8px !important; }

  .row.md-p-10{ margin-right: -10px !important; margin-left: -10px !important; }
  .row.md-p-10 > *[class^="col-"] { padding-left: 10px !important; padding-right: 10px !important; }

  .row.md-p-12{ margin-right: -12px !important; margin-left: -12px !important; }
  .row.md-p-12 > *[class^="col-"] { padding-left: 12px !important; padding-right: 12px !important; }

  .row.md-p-15{ margin-right: -15px !important; margin-left: -15px !important; }
  .row.md-p-15 > *[class^="col-"] { padding-left: 15px !important; padding-right: 15px !important; }

  .row.md-p-20{ margin-right: -20px !important; margin-left: -20px !important; }
  .row.md-p-20 > *[class^="col-"] { padding-left: 20px !important; padding-right: 20px !important; }

  .row.md-p-25{ margin-right: -25px !important; margin-left: -25px !important; }
  .row.md-p-25 > *[class^="col-"] { padding-left: 25px !important; padding-right: 25px !important; }

  .row.md-p-30{ margin-right: -30px !important; margin-left: -30px !important; }
  .row.md-p-30 > *[class^="col-"] { padding-left: 30px !important; padding-right: 30px !important; }
}

@media (max-width: 767.98px) {
  .container { max-width: 540px; }

  .col-sm-1 { flex: 0 0 8.3333333333%; max-width: 8.3333333333%; }
  .col-sm-2 { flex: 0 0 16.6666666667%; max-width: 16.6666666667%; }
  .col-sm-3 { flex: 0 0 25%; max-width: 25%; }
  .col-sm-4 { flex: 0 0 33.3333333333%; max-width: 33.3333333333%; }
  .col-sm-5 { flex: 0 0 41.6666666667%; max-width: 41.6666666667%; }
  .col-sm-6 { flex: 0 0 50%; max-width: 50%; }
  .col-sm-7 { flex: 0 0 58.3333333333%; max-width: 58.3333333333%; }
  .col-sm-8 { flex: 0 0 66.6666666667%; max-width: 66.6666666667%; }
  .col-sm-9 { flex: 0 0 75%; max-width: 75%; }
  .col-sm-10 { flex: 0 0 83.3333333333%; max-width: 83.3333333333%; }
  .col-sm-11 { flex: 0 0 91.6666666667%; max-width: 91.6666666667%; }
  .col-sm-12 { flex: 0 0 100%; max-width: 100%; }
  .col-sm { flex-basis: 0%; flex-grow: 1; max-width: 100%; }
  .col-sm-auto { flex: 0 0 auto; width: auto; max-width: none; }

  .order-sm-0 { order: 0; }
  .order-sm-1 { order: 1; }
  .order-sm-2 { order: 2; }
  .order-sm-3 { order: 3; }
  .order-sm-4 { order: 4; }
  .order-sm-5 { order: 5; }
  .order-sm-6 { order: 6; }
  .order-sm-7 { order: 7; }
  .order-sm-8 { order: 8; }
  .order-sm-9 { order: 9; }
  .order-sm-10 { order: 10; }
  .order-sm-11 { order: 11; }
  .order-sm-12 { order: 12; }
  .order-sm-first { order: -1; }
  .order-sm-last { order: 13; }

  .offset-sm-0 { margin-left: 0; }
  .offset-sm-1 { margin-left: 8.3333333333%; }
  .offset-sm-2 { margin-left: 16.6666666667%; }
  .offset-sm-3 { margin-left: 25%; }
  .offset-sm-4 { margin-left: 33.3333333333%; }
  .offset-sm-5 { margin-left: 41.6666666667%; }
  .offset-sm-6 { margin-left: 50%; }
  .offset-sm-7 { margin-left: 58.3333333333%; }
  .offset-sm-8 { margin-left: 66.6666666667%; }
  .offset-sm-9 { margin-left: 75%; }
  .offset-sm-10 { margin-left: 83.3333333333%; }
  .offset-sm-11 { margin-left: 91.6666666667%; }
  .offset-sm-12 { margin-left: 100%; }

  .sm-block{ display: block !important; }
  .sm-iblock{ display: inline-block !important; }
  .sm-flex{ display: flex !important; }
  .sm-none{ display: none !important; }

  .row.col-sm-mb1 > *[class^="col-"] { margin-bottom: 10px; }
  .row.col-sm-mb2 > *[class^="col-"] { margin-bottom: 20px; }
  .row.col-sm-mb3 > *[class^="col-"] { margin-bottom: 30px; }
  .row.col-sm-mb4 > *[class^="col-"] { margin-bottom: 40px; }

  .text-sm-left { text-align: left !important; }
  .text-sm-right { text-align: right !important; }
  .text-sm-center { text-align: center !important; }
  .text-sm-justify { text-align: justify !important; }

  .align-items-sm-start { align-items: flex-start!important; }
  .align-items-sm-end { align-items: flex-end!important; }
  .align-items-sm-center { align-items: center!important; }
  .align-items-sm-baseline { align-items: baseline!important; }
  .align-items-sm-stretch { align-items: stretch!important; }

  .justify-content-sm-start { justify-content: flex-start!important; }
  .justify-content-sm-end { justify-content: flex-end!important; }
  .justify-content-sm-center { justify-content: center!important; }
  .justify-content-sm-between { justify-content: space-between!important; }
  .justify-content-sm-around { justify-content: space-around!important; }

  .row > *[class^="col-"].sm-p-0 { padding-left: 0 !important; padding-right: 0 !important; }
  .row > *[class^="col-"].sm-pl-0 { padding-left: 0 !important; }
  .row > *[class^="col-"].sm-pr-0 { padding-right: 0 !important; }

  .row > *[class^="col-"].sm-p-5 { padding-left: 5px !important; padding-right: 5px !important; }
  .row > *[class^="col-"].sm-pl-5 { padding-left: 5px !important; }
  .row > *[class^="col-"].sm-pr-5 { padding-right: 5px !important; }

  .row > *[class^="col-"].sm-p-10 { padding-left: 10px !important; padding-right: 10px !important; }
  .row > *[class^="col-"].sm-pl-10 { padding-left: 10px !important; }
  .row > *[class^="col-"].sm-pr-10 { padding-right: 10px !important; }

  .row > *[class^="col-"].sm-p-15 { padding-left: 15px !important; padding-right: 15px !important; }
  .row > *[class^="col-"].sm-pl-15 { padding-left: 15px !important; }
  .row > *[class^="col-"].sm-pr-15 { padding-right: 15px !important; }

  .row > *[class^="col-"].sm-p-20 { padding-left: 20px !important; padding-right: 20px !important; }
  .row > *[class^="col-"].sm-pl-20 { padding-left: 20px !important; }
  .row > *[class^="col-"].sm-pr-20 { padding-right: 20px !important; }

  .row > *[class^="col-"].sm-p-25 { padding-left: 25px !important; padding-right: 25px !important; }
  .row > *[class^="col-"].sm-pl-25 { padding-left: 25px !important; }
  .row > *[class^="col-"].sm-pr-25 { padding-right: 25px !important; }

  .row > *[class^="col-"].sm-p-30 { padding-left: 30px !important; padding-right: 30px !important; }
  .row > *[class^="col-"].sm-pl-30 { padding-left: 30px !important; }
  .row > *[class^="col-"].sm-pr-30 { padding-right: 30px !important; }

  .row > *[class^="col-"].sm-p-50 { padding-left: 50px !important; padding-right: 50px !important; }
  .row > *[class^="col-"].sm-pl-50 { padding-left: 50px !important; }
  .row > *[class^="col-"].sm-pr-50 { padding-right: 50px !important; }

  .row.sm-p-0{ margin-right: 0 !important; margin-left: 0 !important; }
  .row.sm-p-0 > *[class^="col-"] { padding-left: 0 !important; padding-right: 0 !important; }

  .row.sm-p-5{ margin-right: -5px !important; margin-left: -5px !important; }
  .row.sm-p-5 > *[class^="col-"] { padding-left: 5px !important; padding-right: 5px !important; }

  .row.sm-p-8{ margin-right: -8px !important; margin-left: -8px !important; }
  .row.sm-p-8 > *[class^="col-"] { padding-left: 8px !important; padding-right: 8px !important; }

  .row.sm-p-10{ margin-right: -10px !important; margin-left: -10px !important; }
  .row.sm-p-10 > *[class^="col-"] { padding-left: 10px !important; padding-right: 10px !important; }

  .row.sm-p-12{ margin-right: -12px !important; margin-left: -12px !important; }
  .row.sm-p-12 > *[class^="col-"] { padding-left: 12px !important; padding-right: 12px !important; }

  .row.sm-p-15{ margin-right: -15px !important; margin-left: -15px !important; }
  .row.sm-p-15 > *[class^="col-"] { padding-left: 15px !important; padding-right: 15px !important; }

  .row.sm-p-20{ margin-right: -20px !important; margin-left: -20px !important; }
  .row.sm-p-20 > *[class^="col-"] { padding-left: 20px !important; padding-right: 20px !important; }

  .row.sm-p-25{ margin-right: -25px !important; margin-left: -25px !important; }
  .row.sm-p-25 > *[class^="col-"] { padding-left: 25px !important; padding-right: 25px !important; }

  .row.sm-p-30{ margin-right: -30px !important; margin-left: -30px !important; }
  .row.sm-p-30 > *[class^="col-"] { padding-left: 30px !important; padding-right: 30px !important; }
}


@media (max-width: 575.98px) {
  .container { max-width: 100%; }

  .col-xs-1 { flex: 0 0 8.3333333333%; max-width: 8.3333333333%; }
  .col-xs-2 { flex: 0 0 16.6666666667%; max-width: 16.6666666667%; }
  .col-xs-3 { flex: 0 0 25%; max-width: 25%; }
  .col-xs-4 { flex: 0 0 33.3333333333%; max-width: 33.3333333333%; }
  .col-xs-5 { flex: 0 0 41.6666666667%; max-width: 41.6666666667%; }
  .col-xs-6 { flex: 0 0 50%; max-width: 50%; }
  .col-xs-7 { flex: 0 0 58.3333333333%; max-width: 58.3333333333%; }
  .col-xs-8 { flex: 0 0 66.6666666667%; max-width: 66.6666666667%; }
  .col-xs-9 { flex: 0 0 75%; max-width: 75%; }
  .col-xs-10 { flex: 0 0 83.3333333333%; max-width: 83.3333333333%; }
  .col-xs-11 { flex: 0 0 91.6666666667%; max-width: 91.6666666667%; }
  .col-xs-12 { flex: 0 0 100%; max-width: 100%; }
  .col-xs { flex-basis: 0%; flex-grow: 1; max-width: 100%; }
  .col-xs-auto { flex: 0 0 auto; width: auto; max-width: none; }

  .order-xs-0 { order: 0; }
  .order-xs-1 { order: 1; }
  .order-xs-2 { order: 2; }
  .order-xs-3 { order: 3; }
  .order-xs-4 { order: 4; }
  .order-xs-5 { order: 5; }
  .order-xs-6 { order: 6; }
  .order-xs-7 { order: 7; }
  .order-xs-8 { order: 8; }
  .order-xs-9 { order: 9; }
  .order-xs-10 { order: 10; }
  .order-xs-11 { order: 11; }
  .order-xs-12 { order: 12; }
  .order-xs-first { order: -1; }
  .order-xs-last { order: 13; }

  .offset-xs-0 { margin-left: 0; }
  .offset-xs-1 { margin-left: 8.3333333333%; }
  .offset-xs-2 { margin-left: 16.6666666667%; }
  .offset-xs-3 { margin-left: 25%; }
  .offset-xs-4 { margin-left: 33.3333333333%; }
  .offset-xs-5 { margin-left: 41.6666666667%; }
  .offset-xs-6 { margin-left: 50%; }
  .offset-xs-7 { margin-left: 58.3333333333%; }
  .offset-xs-8 { margin-left: 66.6666666667%; }
  .offset-xs-9 { margin-left: 75%; }
  .offset-xs-10 { margin-left: 83.3333333333%; }
  .offset-xs-11 { margin-left: 91.6666666667%; }
  .offset-xs-12 { margin-left: 100%; }

  .xs-block{ display: block !important; }
  .xs-iblock{ display: inline-block !important; }
  .xs-flex{ display: flex !important; }
  .xs-none{ display: none !important; }

  .row.col-xs-mb1 > *[class^="col-"] { margin-bottom: 10px; }
  .row.col-xs-mb2 > *[class^="col-"] { margin-bottom: 20px; }
  .row.col-xs-mb3 > *[class^="col-"] { margin-bottom: 30px; }
  .row.col-xs-mb4 > *[class^="col-"] { margin-bottom: 40px; }

  .text-xs-left { text-align: left !important; }
  .text-xs-right { text-align: right !important; }
  .text-xs-center { text-align: center !important; }
  .text-xs-justify { text-align: justify !important; }

  .align-items-xs-start { align-items: flex-start!important; }
  .align-items-xs-end { align-items: flex-end!important; }
  .align-items-xs-center { align-items: center!important; }
  .align-items-xs-baseline { align-items: baseline!important; }
  .align-items-xs-stretch { align-items: stretch!important; }

  .justify-content-xs-start { justify-content: flex-start!important; }
  .justify-content-xs-end { justify-content: flex-end!important; }
  .justify-content-xs-center { justify-content: center!important; }
  .justify-content-xs-between { justify-content: space-between!important; }
  .justify-content-xs-around { justify-content: space-around!important; }

  .row > *[class^="col-"].xs-p-0 { padding-left: 0 !important; padding-right: 0 !important; }
  .row > *[class^="col-"].xs-pl-0 { padding-left: 0 !important; }
  .row > *[class^="col-"].xs-pr-0 { padding-right: 0 !important; }

  .row > *[class^="col-"].xs-p-5 { padding-left: 5px !important; padding-right: 5px !important; }
  .row > *[class^="col-"].xs-pl-5 { padding-left: 5px !important; }
  .row > *[class^="col-"].xs-pr-5 { padding-right: 5px !important; }

  .row > *[class^="col-"].xs-p-10 { padding-left: 10px !important; padding-right: 10px !important; }
  .row > *[class^="col-"].xs-pl-10 { padding-left: 10px !important; }
  .row > *[class^="col-"].xs-pr-10 { padding-right: 10px !important; }

  .row > *[class^="col-"].xs-p-15 { padding-left: 15px !important; padding-right: 15px !important; }
  .row > *[class^="col-"].xs-pl-15 { padding-left: 15px !important; }
  .row > *[class^="col-"].xs-pr-15 { padding-right: 15px !important; }

  .row > *[class^="col-"].xs-p-20 { padding-left: 20px !important; padding-right: 20px !important; }
  .row > *[class^="col-"].xs-pl-20 { padding-left: 20px !important; }
  .row > *[class^="col-"].xs-pr-20 { padding-right: 20px !important; }

  .row > *[class^="col-"].xs-p-25 { padding-left: 25px !important; padding-right: 25px !important; }
  .row > *[class^="col-"].xs-pl-25 { padding-left: 25px !important; }
  .row > *[class^="col-"].xs-pr-25 { padding-right: 25px !important; }

  .row > *[class^="col-"].xs-p-30 { padding-left: 30px !important; padding-right: 30px !important; }
  .row > *[class^="col-"].xs-pl-30 { padding-left: 30px !important; }
  .row > *[class^="col-"].xs-pr-30 { padding-right: 30px !important; }

  .row > *[class^="col-"].xs-p-50 { padding-left: 50px !important; padding-right: 50px !important; }
  .row > *[class^="col-"].xs-pl-50 { padding-left: 50px !important; }
  .row > *[class^="col-"].xs-pr-50 { padding-right: 50px !important; }

  .row.xs-p-0{ margin-right: 0 !important; margin-left: 0 !important; }
  .row.xs-p-0 > *[class^="col-"] { padding-left: 0 !important; padding-right: 0 !important; }

  .row.xs-p-5{ margin-right: -5px !important; margin-left: -5px !important; }
  .row.xs-p-5 > *[class^="col-"] { padding-left: 5px !important; padding-right: 5px !important; }

  .row.xs-p-8{ margin-right: -8px !important; margin-left: -8px !important; }
  .row.xs-p-8 > *[class^="col-"] { padding-left: 8px !important; padding-right: 8px !important; }

  .row.xs-p-10{ margin-right: -10px !important; margin-left: -10px !important; }
  .row.xs-p-10 > *[class^="col-"] { padding-left: 10px !important; padding-right: 10px !important; }

  .row.xs-p-12{ margin-right: -12px !important; margin-left: -12px !important; }
  .row.xs-p-12 > *[class^="col-"] { padding-left: 12px !important; padding-right: 12px !important; }

  .row.xs-p-15{ margin-right: -15px !important; margin-left: -15px !important; }
  .row.xs-p-15 > *[class^="col-"] { padding-left: 15px !important; padding-right: 15px !important; }

  .row.xs-p-20{ margin-right: -20px !important; margin-left: -20px !important; }
  .row.xs-p-20 > *[class^="col-"] { padding-left: 20px !important; padding-right: 20px !important; }

  .row.xs-p-25{ margin-right: -25px !important; margin-left: -25px !important; }
  .row.xs-p-25 > *[class^="col-"] { padding-left: 25px !important; padding-right: 25px !important; }

  .row.xs-p-30{ margin-right: -30px !important; margin-left: -30px !important; }
  .row.xs-p-30 > *[class^="col-"] { padding-left: 30px !important; padding-right: 30px !important; }
}


/****************** Other Styles ******************/

table{
    width: 100%;
}

table td{
    padding: 10px 20px;
    vertical-align: top;
    line-height: 1.5;
}

*:lang(ka) {
  text-transform: none !important;
}


/****************** Styles ******************/

.wrap {
    width: 704px;
    /*background-color: #eee;*/
    margin: 0 auto 0 auto;
}

.game-content {

}

.game-content .start-game-popup {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999999;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s, visibility .4s;
}

.game-content .start-game-popup.visible {
    opacity: 1;
    visibility: visible;
}

.game-content .start-game-popup .inner-box {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-height: 100%;
    overflow: auto;
}

.game-content .start-game-popup .inner {
    width: 430px;
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    margin: auto;
    background-color: #95d7fc;
    padding: 45px 0 0 0;
}

.game-content .start-game-popup .inner .close-btn {
    position: absolute;
    top: 16px;
    right: 20px;
    cursor: pointer;
}

.game-content .start-game-popup .inner .close-btn i {
    font-size: 26px;
    display: block;
    color: #fff;
}

.game-content .start-game-popup .inner .head {
    font-size: 22px;
    color: #3d3d3d;
    padding: 0px 50px 40px 32px;
    font-family: "FiraGO-SemiBold";
}

.game-content .start-game-popup .inner .bottom {
    padding: 10px 32px 10px 32px;
    background-color: #d1efff;
}

.game-content .start-game-popup .inner .bottom form{
    display: block;
    width: 100%;
}

.game-content .start-game-popup .inner .input-box {
    margin: 20px 0;
}

.game-content .start-game-popup .inner .input-box input,
.game-content .start-game-popup .inner .input-box select {
    display: block;
    width: 100%;
    height: 48px;
    font-size: 18px;
    color: #272727;
    padding: 0 20px;
    border: 0;
    border-radius: 0;
    background-color: #fff;
    box-shadow: none;
}

.game-content .start-game-popup .inner .input-box select {
    background-image: url(../img/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 18px center;
    padding-right: 40px;
}

.game-content .start-game-popup .inner .input-box input::-webkit-input-placeholder {
  color: #272727;
  transition: opacity .3s;
}

.game-content .start-game-popup .inner .input-box input::-moz-placeholder {
  color: #272727;
  transition: opacity .3s;
}

.game-content .start-game-popup .inner .input-box input:-ms-input-placeholder {
  color: #272727;
  transition: opacity .3s;
}

.game-content .start-game-popup .inner .input-box input:-moz-placeholder {
  color: #272727;
  transition: opacity .3s;
}

.game-content .start-game-popup .inner .input-box input:focus::-webkit-input-placeholder {
  opacity: 0.7;
}

.game-content .start-game-popup .inner .input-box input:focus::-moz-placeholder {
  opacity: 0.7;
}

.game-content .start-game-popup .inner .input-box input:focus:-ms-input-placeholder {
  opacity: 0.7;
}

.game-content .start-game-popup .inner .input-box input:focus:-moz-placeholder {
  opacity: 0.7;
}

.game-content .start-game-popup .inner .input-box button {
    display: block;
    width: 100%;
    height: 48px;
    font-size: 22px;
    color: #272727;
    border: 0;
    background-color: #95d7fc;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
}

.game-content .start-game-popup .inner .bottom .small-info {
    margin: 20px 12px 30px 12px;
    font-size: 18px;
    color: #5c5c5c;
}

.game-content .start-game-popup .inner .bottom .message {
    font-size: 18px;
    color: #ff0000;
    text-align: center;
    padding: 10px 0 15px 0;
}
/*.start-game-cont iframe{*/
  /*width: 100% !important;*/
  /*height: 100% !important;*/
/*}*/

.start-game-cont h2 {
    color: #3d3d3d;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.start-game-cont .text {
    font-size: 18px;
    color: #7d7d7d;
    line-height: 1.33;
}

.start-game-cont .box {
    height: 400px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 50px;
}

.start-game-cont .box .img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.start-game-cont .box .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, #ff8484, rgba(255, 132, 132, 0.15));
    opacity: 0.8;
}

.start-game-cont .box .inner {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
}

.start-game-cont .box .inner .time {
    font-size: 64px;
    color: #fff;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 10px;
}

.start-game-cont .box .inner .button {
    height: 48px;
    border-radius: 4px;
    background-color: #5dc0f7;
    display: inline-block;
    font-size: 26px;
    color: #fff;
    line-height: 48px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 22px;
    transition: background-color .3s;
}

.start-game-cont .box .inner .button:hover {
    background-color: #37a2de;
}

.start-game-cont .box .inner .button.red {
    background-color: #f78e99;
}

.start-game-cont .box .inner .button.red:hover {
    background-color: #e26b78;
}

.start-game-cont .share-socials {
    margin-top: 20px;
    text-align: center;
}

.start-game-cont .share-socials p {
    font-size: 14px;
    color: #7d7d7d;
}

.start-game-cont .share-socials .socials {
    font-size: 14px;
    color: #7d7d7d;
    margin-top: 10px;
}

.start-game-cont .share-socials .socials a {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 4px;
}

.start-game-cont .share-socials .socials a.facebook {
    background-color: #56789b;
}

.start-game-cont .share-socials .socials a.twitter {
    background-color: #55a1d4;
}

.start-game-cont .share-socials .socials a i {
    font-size: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    color: #fff;
    text-align: center;
    transform: translateY(-50%);
}

.wrap.preview .text{
  white-space: pre-line;
}


/* Respondive */

@media (max-width: 1679.98px) {
    .game-content .start-game-popup .inner .close-btn i {
        font-size: 24px;
    }

    .game-content .start-game-popup .inner .head {
        font-size: 20px;
        padding: 0px 50px 34px 32px;
    }

    .game-content .start-game-popup .inner .input-box {
        margin: 16px 0;
    }

    .game-content .start-game-popup .inner .input-box input,
    .game-content .start-game-popup .inner .input-box select {
        height: 44px;
        font-size: 16px;
        padding: 0 18px;
    }

    .game-content .start-game-popup .inner .bottom .small-info {
        margin: 18px 12px 26px 12px;
        font-size: 16px;
    }

    .game-content .start-game-popup .inner .input-box button {
        height: 44px;
        font-size: 18px;
    }

    .game-content .start-game-popup .inner .bottom .message {
        font-size: 16px;
        padding: 10px 0 15px 0;
    }
}

@media (max-width: 1400.98px) {
    .wrap {
        width: 596px;
    }

    .start-game-cont h2 {
        font-size: 26px;
        margin-bottom: 10px;
    }

    .start-game-cont .box {
        margin-top: 40px;
    }
}

@media (max-width: 1199.98px) {
    .wrap {
        width: 642px;
    }
}

@media (max-width: 1023.98px) {
    .wrap {
        width: 438px;
    }

    .start-game-cont h2 {
        font-size: 24px;
    }

    .start-game-cont .text {
        font-size: 14px;
    }

    .start-game-cont .box {
        margin-top: 30px;
        height: 300px;
    }

    .start-game-cont .box .inner .time {
        font-size: 48px;
        margin-bottom: 7px;
    }

    .start-game-cont .box .inner .button {
        height: 42px;
        font-size: 20px;
        line-height: 42px;
    }

    .start-game-cont .share-socials .socials a {
        width: 34px;
        height: 34px;
    }

    .start-game-cont .share-socials .socials a i {
        font-size: 16px;
    }
}

@media (max-width: 767.98px) {
    .wrap {
        width: 510px;
    }
}

@media (max-width: 575.98px) {
    .wrap {
        width: 100%;
    }

    .game-content .start-game-popup .inner {
        width: calc(100% - 72px);
        top: 6%;
        padding: 38px 0 0 0;
    }

    .game-content .start-game-popup .inner .close-btn {
        top: 13px;
        right: 17px;
    }

    .game-content .start-game-popup .inner .close-btn i {
        font-size: 22px;
    }

    .game-content .start-game-popup .inner .head {
        font-size: 16px;
        padding: 0px 42px 26px 20px;
    }

    .game-content .start-game-popup .inner .bottom {
        padding: 8px 20px 8px 20px;
    }

    .game-content .start-game-popup .inner .input-box {
        margin: 12px 0;
    }

    .game-content .start-game-popup .inner .input-box input,
    .game-content .start-game-popup .inner .input-box select {
        height: 38px;
        font-size: 14px;
        padding: 0 14px;
    }

    .game-content .start-game-popup .inner .bottom .small-info {
        margin: 14px 12px 20px 12px;
        font-size: 14px;
    }

    .game-content .start-game-popup .inner .input-box button {
        height: 38px;
        font-size: 16px;
    }

    .game-content .start-game-popup .inner .bottom .message {
        font-size: 14px;
    }


    .start-game-cont h2 {
        font-size: 22px;
    }

    .start-game-cont .box {
        margin-top: 24px;
        height: 240px;
    }

    .start-game-cont .box .inner .time {
        font-size: 38px;
    }

    .start-game-cont .box .inner .button {
        height: 38px;
        font-size: 16px;
        line-height: 38px;
    }
}





/***************************************** Game Styles *****************************************/

.game-box {
    margin-bottom: 30px;
}

.game-box .game-title {
    color: #3d3d3d;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.game-box .game-text {
    font-size: 18px;
    color: #7d7d7d;
    line-height: 1.33;
}

.game-box .game-steps-box {
    margin-top: 10px;
}

.game-box .game-steps-box span {
    width: 6px;
    height: 6px;
    display: inline-block;
    background-color: #9f9f9f;
    border-radius: 50%;
    margin-right: 5px;
}

.game-box .game-steps-box span.active {
    transform: scale(1.6);
    background-color: #55a1d4;
}

.game-box .game-steps-box p {
    color: #acacac;
    font-size: 18px;
    padding-top: 3px;
}

.game-box .game-steps-box p strong {
    color: #7d7d7d;
}

.game-box .game-img-box {
    height: 400px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}

.game-box .game-img-box .img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.game-box .game-img-box .img img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
}

.game-box .game-img-box .link {
    position: absolute;
    right: 15px;
    bottom: 15px;
    color: #fff;
    font-size: 12px;
    opacity: 0.5;
    transition: opacity .2;
}

.game-box .game-img-box .link:hover {
    opacity: 1;
}

.game-box .step{
    display: none;
}

.game-box .step-1{
    display: block;
}

.game-box .question-box {
    margin-top: 24px;
}

.game-box .question-box h2 {
    font-size: 26px;
    color: #3d3d3d;
    font-weight: bold;
    text-transform: inherit;
}

.game-box .question-box h2 a {
    color: #55a1d4;
}

.game-box .question-box p {
    font-size: 18px;
    color: #7d7d7d;
    line-height: 1.33;
}

.game-box .question-box img,
.game-box .question-box iframe {
    display: block !important;
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
}

.game-box .question-box iframe {
    height: 400px !important;
}

.game-box .answer-box {
    margin-top: 20px;
}

.game-box .answer-box .answer {
    margin-top: 2px;
}

.game-box .answer-box .answer .item {
    position: relative;
    border-radius: 4px;
    border: solid 1px #bebebe;
    font-size: 16px;
    color: #3d3d3d;
    line-height: 1.38;
    padding: 14px 85px 14px 14px;
    cursor: pointer;
    transition: background-color .2s, border-color .2s;
}

.game-box .answer-box .answer .item:hover {
    border-color: #55a1d4;
}

.game-box .answer-box .answer.true .item {
    border: solid 1px #1cd8a5;
    background-color: #dffcf1;
}

.game-box .answer-box .answer.false .item {
    border: solid 1px #e61919;
    background-color: #faefef;
}

.game-box .answer-box .answer .item .icon {
    position: absolute;
    top: 50%;
    right: 25px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50%) scale(0);
    transition: transform .2s, opacity .2s, visibility .2s;
}

.game-box .answer-box .answer .item .icon img {
    display: block;
    width: 100%;
}

.game-box .answer-box .answer .item .icon.true-icon {
    width: 22px;
}

.game-box .answer-box .answer .item .icon.false-icon {
    width: 18px;
}

.game-box .answer-box .answer.true .item .icon.true-icon {
    opacity: 1;
    visibility: visible;
    transform: translateY(-50%) scale(1);
}

.game-box .answer-box .answer.false .item .icon.false-icon {
    opacity: 1;
    visibility: visible;
    transform: translateY(-50%) scale(1);
}

.game-box .answer-box .answer .tip {
    position: relative;
    border-radius: 4px;
    border: solid 1px #bebebe;
    padding: 26px;
    margin-top: 2px;
    font-size: 14px;
    color: #3d3d3d;
    line-height: 1.71;
}
.game-box .answer-box .answer.choosed .tip img {
    height: auto !important;
}

.game-box .answer-box .answer.choosed .tip img,
.game-box .answer-box .answer.choosed .tip iframe {
    display: inline;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    max-width: 100% !important;
}

.game-box .answer-box .answer.choosed .tip p,
.game-box .answer-box .answer.choosed .tip img,
.game-box .answer-box .answer.choosed .tip iframe {
    vertical-align: top;
}

.game-box .answer-box .answer.choosed .tip a {
    color: #55a1d4;
}

.game-box .answer-box2 {
    margin-top: 20px;
}

.game-box .answer-box2 .answer {
    position: relative;
    margin-bottom: 10px;
}

.game-box .answer-box2 .answer img,
.game-box .answer-box2 .answer iframe {
    display: block !important;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    width: 100% !important;
    height: 207px !important;
    max-width: 100% !important;
    margin-bottom: 13px;
    border: 4px solid transparent;
    transition: opacity .2s, border-color .2s;
}

.game-box .answer-box2 .answer img {
    object-fit: cover;
}

.game-box .answer-box2 .answer.choosed img,
.game-box .answer-box2 .answer.choosed iframe {
    opacity: 0.5;
}

.game-box .answer-box2 .answer.true img,
.game-box .answer-box2 .answer.true iframe {
    opacity: 1;
    border: 4px solid #7fddc4;
}

.game-box .answer-box2 .answer {
    position: relative;
    padding: 13px 20px;
    font-size: 16px;
    color: #7d7d7d;
    line-height: 1.38;
    cursor: pointer;
}

.game-box .answer-box2 .answer .icon {
    position: absolute;
    top: 30px;
    right: 34px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    z-index: 1;
    transition: transform .2s, opacity .2s, visibility .2s;
}

.game-box .answer-box2 .answer .icon img {
    display: block;
    width: 100% !important;
    height: auto !important;
    border: 0;
}

.game-box .answer-box2 .answer .icon.true-icon {
    width: 22px;
}

.game-box .answer-box2 .answer .icon.false-icon {
    width: 18px;
}

.game-box .answer-box2 .answer.true .icon.true-icon {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.game-box .answer-box2 .answer.false .icon.false-icon {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.game-box .answer-box2 .tip {
    position: relative;
    border-radius: 4px;
    border: solid 1px #bebebe;
    padding: 26px;
    margin-top: 2px;
    font-size: 14px;
    color: #3d3d3d;
    line-height: 1.71;
}

.game-box .answer-box2 .tip img {
    height: auto !important;
}

.game-box .answer-box2 .tip img,
.game-box .answer-box2 .tip iframe {
    display: inline;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    max-width: 100% !important;
}

.game-box .answer-box2 .tip p,
.game-box .answer-box2 .tip img,
.game-box .answer-box2 .tip iframe {
    vertical-align: top;
}

.game-box .answer-box2 .tip a {
    color: #55a1d4;
}

.game-box .next-btn {
    display: block;
    width: 100%;
    height: 48px;
    line-height: 48px;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    background-color: #55a1d4;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 3px;
    transition: background-color .2s;
}

.game-box .next-btn:hover {
    background-color: #4494ca;
}

.game-box .results {

}

.game-box .results .result {
    text-align: center;
}

.game-box .results .result .img-box {
    margin-bottom: 20px;
}

.game-box .results .result .img-box img,
.game-box .results .result .img-box iframe {
    display: block !important;
    width: 300px !important;
    max-width: 100% !important;
    height: auto !important;
    margin: 0 auto;
}

.game-box .results .result .img-box iframe {
    height: 300px !important;
}

.game-box .results .result h2 {
    font-size: 30px;
    color: #55a1d4;
    font-weight: bold;
}

.game-box .results .result .rate {
    font-size: 40px;
    color: #acacac;
    font-weight: bold;
    margin: 15px 0 10px 0;
}

.game-box .results .result .rate span {
    color: #55a1d4;
}

.game-box .results .result .text {
    font-size: 18px;
    color: #191919;
    line-height: 1.33;
}

.game-box .results .result .text a {
    color: #55a1d4;
}

.game-box .share-socials {
    margin-top: 20px;
    text-align: center;
}

.game-box .share-socials p {
    font-size: 14px;
    color: #7d7d7d;
}

.game-box .share-socials .socials {
    font-size: 14px;
    color: #7d7d7d;
    margin-top: 10px;
}

.game-box .share-socials .socials a {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 4px;
}

.game-box .share-socials .socials a.facebook {
    background-color: #56789b;
}

.game-box .share-socials .socials a.twitter {
    background-color: #55a1d4;
}

.game-box .share-socials .socials a i {
    font-size: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    color: #fff;
    text-align: center;
    transform: translateY(-50%);
}


/***************************************** Game Responsive Styles *****************************************/

@media (max-width: 1679.98px) {
    .game-box .game-title {
        font-size: 24px;
        margin-bottom: 12px;
    }

    .game-box .game-text {
        font-size: 16px;
    }

    .game-box .game-steps-box span {
        margin-right: 4px;
    }

    .game-box .game-steps-box p {
        font-size: 16px;
    }

    .game-box .question-box h2 {
        font-size: 22px;
    }

    .game-box .question-box p {
        font-size: 16px;
    }

    .game-box .results .result h2 {
        font-size: 26px;
    }

    .game-box .results .result .rate {
        font-size: 32px;
    }

    .game-box .results .result .text {
        font-size: 16px;
    }
}

@media (max-width: 1400.98px) {
    .game-box .question-box iframe {
        height: 350px !important;
    }

    .game-box .answer-box2 .answer {
        padding: 10px 10px;
    }

    .game-box .answer-box2 .answer img,
    .game-box .answer-box2 .answer iframe {
        height: 188px !important;
    }

    .game-box .results .result .img-box img,
    .game-box .results .result .img-box iframe {
        width: 270px !important;
    }
}

@media (max-width: 1199.98px) {

}

@media (max-width: 1023.98px) {
    .game-box .game-title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .game-box .game-text {
        font-size: 14px;
    }

    .game-box .question-box iframe {
        height: 260px !important;
    }

    .game-box .question-box h2 {
        font-size: 18px;
    }

    .game-box .question-box p {
        font-size: 14px;
    }

    .game-box .answer-box2 .answer {
        padding: 6px 0px;
        font-size: 14px;
    }

    .game-box .answer-box2 .answer img,
    .game-box .answer-box2 .answer iframe {
        height: 156px !important;
    }

    .game-box .answer-box2 .answer .icon {
        top: 24px;
        right: 20px;
    }

    .game-box .next-btn {
        font-size: 16px;
        height: 44px;
        line-height: 44px;
    }

    .game-box .answer-box .answer .item {
        font-size: 14px;
        padding: 12px 70px 12px 12px;
    }

    .game-box .answer-box .answer .item .icon {
        right: 18px;
    }

    .game-box .answer-box .answer .item .icon.true-icon {
        width: 18px;
    }

    .game-box .answer-box .answer .item .icon.false-icon {
        width: 14px;
    }

    .game-box .answer-box2 .tip {
        padding: 20px;
    }

    .game-box .results .result .img-box img,
    .game-box .results .result .img-box iframe {
        width: 200px !important;
    }

    .game-box .results .result h2 {
        font-size: 22px;
    }

    .game-box .results .result .rate {
        font-size: 26px;
    }

    .game-box .results .result .text {
        font-size: 14px;
    }
}

@media (max-width: 767.98px) {

}

@media (max-width: 575.98px) {
    .game-box .game-title {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .game-box .game-steps-box span {
        margin-right: 2px;
        width: 5px;
        height: 5px;
    }

    .game-box .game-steps-box p {
        font-size: 14px;
        padding-top: 5px;
    }

    .game-box .question-box iframe {
        height: 210px !important;
    }

    .game-box .question-box h2 {
        font-size: 16px;
    }

    .game-box .answer-box2 .answer img,
    .game-box .answer-box2 .answer iframe {
        height: 190px !important;
    }

    .game-box .answer-box2 .tip {
        padding: 15px;
    }

    .game-box .answer-box .answer .item {
        font-size: 14px;
        padding: 12px 50px 12px 12px;
    }

    .game-box .results .result h2 {
        font-size: 20px;
    }
}












